# --- クローラー・スクレイピング ---
scrapy 
beautifulsoup4
requests

# --- 機械学習・ディープラーニング推論 ---
tensorflow==2.15.0
transformers
sentencepiece
unidic-lite
torch
sentence-transformers
scikit-learn
pandas
numpy
joblib       

# --- APIサーバー ---
fastapi
uvicorn
python-multipart