# --- クローラー・スクレイピング ---
scrapy 
beautifulsoup4
requests

# --- 機械学習・ディープラーニング推論 ---
transformers
sentencepiece
unidic-lite
torch
fugashi
scikit-learn
pandas
numpy
joblib       

# --- APIサーバー ---
fastapi
uvicorn
python-multipart