scrapy
beautifulsoup4
tensorflow
transformers
sentencepiece
fugashi
unidic-lite
scikit-learn
pandas
numpy
torch
sentence-transformers
tqdm
fastapi
uvicorn
requests
python-dotenv
python-multipart
jupyterlab
matplotlib
seaborn
pyarrow